{% extends 'base.html' %}
{% block content %}

    <h1>My Notes</h1>

    {% if not notes %}
        <h2>There are no notes.</h2>
    {% else %}

        <!--notes container-->
        {% for note in notes %}
        <div class="note-container">
            <h2>{{ note.title }}<img src="https://www.freeiconspng.com/thumbs/tasks-icon/tasks-icon-9.png" alt=""/></h2>

            <div class="right">
                <a class="button details" href="{% url 'details_note' note.pk %}">Details</a>
                <a class="button edit" href="{% url 'edit_note' note.pk %}">Edit</a>
                <a class="button delete" href="{% url 'delete_note' note.pk %}">Delete</a>
            </div>
        </div>
        {% endfor %}

    {% endif %}

    <!--end notes container-->
{% endblock %}
