<!-- Title of the Page -->
<h2>Current Events</h2>

<!-- The Main Content for the Dashboard Event section -->
<section id="dashboard">

    <!-- Display paragraph: If there are no events yet -->
    <h4>There are no Events in the Dashboard!</h4>

    <!-- Display a <div> with information about every post (if any)-->

    <!-- First Card-Box in dashboard -->
    <div class="event">
        <!-- Event Image -->
        <img src="/static/images/robert_de_niro_themed_party.jpg" alt="Robert De Niro Themed Party Image"/>

        <!-- Event Name -->
        <div class="event-details">
            <p class="title">
                Robert De Niro Themed Party
            </p>

            <!-- Event Date -->
            <p class="date">15.04.2023</p>
        </div>

        <!-- Details Button -->
        <a class="details-btn" href="#">Details</a>
    </div>

    <!-- Second Card-Box in dashboard -->
    <div class="event">
        <!-- Event Image -->
        <img src="/static/images/fun_run.jpg" alt="Fun Run Image"/>

        <!-- Event Name -->
        <div class="event-details">
            <p class="title">
                Fun Run
            </p>

            <!-- Event Date -->
            <p class="date">19.04.2023</p>
        </div>

        <!-- Details Button -->
        <a class="details-btn" href="#">Details</a>
    </div>

    <!-- Third Card-Box in dashboard -->
    <div class="event">
        <!-- Event Image -->
        <img src="/static/images/art_and_wine.jpg" alt="Art & Wine Image"/>

        <!-- Event Name -->
        <div class="event-details">
            <p class="title">
                Art & Wine
            </p>

            <!-- Event Date -->
            <p class="date">17.04.2023</p>
        </div>

        <!-- Details Button -->
        <a class="details-btn" href="#">Details</a>
    </div>
</section>
<!-- End Dashboard Event section -->
