<!-- The Main Content for the Details Event section -->
<section id="details">
    <!-- Title of the Page -->
    <h2>Event Details</h2>
    <div id="details-wrapper">

        <!-- Event Image -->
        <img id="details-img" class="event-image" src="/static/images/robert_de_niro_themed_party.jpg"
             alt="Robert De Niro Themed Party Image"/>

        <!-- Event Name -->
        <p id="details-title">Robert De Niro Themed Party</p>

        <!-- Event Category -->
        <p id="details-event">
            Category: <span id="categories">Theme Party</span>
        </p>

        <!-- Event Date -->
        <p id="details-event">
            Date: <span id="date">15.07.2023</span></p>

        <!-- Event Description -->
        <div id="info">
            <div id="details-description">Welcome to the ultimate Robert De Niro themed party! If you're a fan of
                this legendary actor's films and characters, then this is the party for you.
                Entertainment can include a De Niro movie trivia game, a dance-off to classic songs from his films,
                and even an impression contest where guests can try their best De Niro impressions.
                End the night with a screening of one of De Niro's greatest films, followed by a toast to the man
                himself. Your guests will be talking about this unforgettable party for years to come!
            </div>

        </div>

        <!-- Edit and Delete buttons -->
        <div id="action-buttons">
            <a href="#" id="edit-btn">Edit</a>
            <a href="#" id="delete-btn">Delete</a>
        </div>
    </div>
</section>
<!-- End Details Event section -->
