{% extends 'shared/base.html' %}

{% block content %}
    <!-- Title of the Page -->
    <h2>Current Events</h2>

    <!-- The Main Content for the Dashboard Event section -->
    <section id="dashboard">

        {% if not events %}
            <!-- Display paragraph: If there are no events yet -->
            <h4>There are no Events in the Dashboard!</h4>

            <!-- Display a <div> with information about every post (if any)-->
        {% else %}
            {% for event in events %}
                <!-- First Card-Box in dashboard -->
                <div class="event">
                    <!-- Event Image -->
                    <img src="{{ event.event_image }}" alt="Robert De Niro Themed Party Image"/>

                    <!-- Event Name -->
                    <div class="event-details">
                        <p class="title">
                            {{ event.event_name }}
                        </p>

                        <!-- Event Date -->
                        <p class="date">{{ event.date }}</p>
                    </div>

                    <!-- Details Button -->
                    <a class="details-btn" href="{% url 'details_event' event.pk %}">Details</a>
                </div>
            {% endfor %}
        {% endif %}
    </section>
    <!-- End Dashboard Event section -->
{% endblock %}