<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Load Static -->
    <link rel="stylesheet" href="/static/css/styles.css"/>
    <title>Eventer App</title>
</head>

<body>
<div id="wrapper">

    <!-- Navigation Bar section -->
    <header>

        <!-- A logo in the top left corner that serves as a link to the Home Page -->
        <a id="logo" href="#"
        ><img id="logo-img" src="/static/images/logo.png" alt="logo"
        /></a>

        <nav>

            <!-- If the user has not created a profile yet -->
            <div class="guest">
                <a href="#">Create Profile</a>
            </div>

            <!-- If the user has created a profile -->
            <div class="user">
                <a href="#">Events</a>
                <a href="#">Add Event</a>
                <a href="#">Profile</a>
            </div>

        </nav>
    </header>
    <!-- End Navigation Bar section -->

    <!-- Main Content -->


    <!-- Footer section -->
    <footer>
        <p>&copy;SoftUni Team 2023 All rights reserved.</p>
    </footer>
    <!-- End Footer section -->
</div>
</body>
</html>
