<!-- The Main Content for the Profile Details section -->
<section id="details">
    <!-- Title of the Page -->
    <h2>Profile Details</h2>
    <div id="details-wrapper">

        <div class="profile-details-container">

            <!-- Default profile image (if the user does NOT have any)-->
            <img class="profile-image" src="/static/images/profile_image.avif" alt='profile-image'/>

            <!-- Profile image set by the user -->
            <img class="profile-image" src="" alt="Profile Picture"/>


            <div>
                <!-- Profile Name -->
                <p id="profile-details">Name: <span
                        id="info">John Smith</span>
                </p>

                <!-- Email -->
                <p id="profile-details">
                    Email: <span id="info">john.smith@gmail.com</span>
                </p>

                <!-- Created Events -->
                <p id="profile-details">
                    Created Events: <span id="info">3</span></p>
            </div>
        </div>
    </div>

    <!-- Edit and Delete Buttons -->
    <div id="action-buttons">
        <a href="#" id="edit-btn">Edit</a>
        <a href="#" id="delete-btn">Delete</a>
    </div>

</section>
<!-- End Profile Details section -->