{% extends "base.html" %}

{% block content %}

    <!--Create Page-->
    <section class="createPage">

        <form method="post">
            <fieldset>
                <legend>Add Album</legend>
                <div class="container">
                    <form method="POST">

                        {% csrf_token %}
                        {{ form }}

                        <!-- Button for Adding Album -->
                        <button class="add-album" type="submit">Add New Album</button>
                    </form>
                </div>
            </fieldset>
        </form>

    </section>

{% endblock %}