{% extends 'base.html' %}
<!--Edit Page-->
{% block content %}
    <section class="editPage">
        <form method="post">
            {% csrf_token %}
            <fieldset>
                <legend>Edit Album</legend>
                <div class="container">

                    <!-- Form for Editing Album -->
                    {{ form }}
                    <!-- Button for Editing Album -->
                    <button class="edit-album" type="submit">Edit Album</button>
                </div>
            </fieldset>
        </form>
    </section>
{% endblock %}