{% extends 'base.html' %}

{% block c %}
    <!-- Display paragraph: If there are no cars yet-->
    {% if not cars %}
        <p class="no-articles">No cars yet</p>

        <!-- Display div "car" with information about every car (if any)-->
    {% else %}

        <section id="catalogue">
            <h1>Total cars: {{ total_cars }}</h1>
            {% for car in cars %}

                <!-- first car-->
                <div class="car-card">
                    <div class="i/mage-wrap">
                        <!-- car image -->
                        <img src="{{ car.image_url }}" alt="Sport Car">
                    </div>
                    <!-- car type -->
                    <h3>{{ car.type }}</h3>
                    <!-- car model -->
                    <h1>{{ car.model }}</h1>
                    <div class="details-buttons">
                        <!-- car details button -->
                        <a href="{% url 'car_details' id=car.id %}" class="details-btn">Details</a>
                    </div>
                </div>

                </section>
            {% endfor %}
    {% endif %}
{% endblock %}